<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzr.dao.MenuDAO">
    <resultMap type="com.xzr.entity.Menu" id="menuResultMap">
        <id column="mid" property="id"/>
        <result column="mname" property="name"/>
        <result column="micon" property="icon"/>
        <result column="murl" property="url"/>
        <result column="mparentid" property="parentid"/>
        <collection property="children" javaType="list" ofType="com.xzr.entity.Menu">
            <id column="m1id" property="id"/>
            <result column="m1name" property="name"/>
            <result column="m1icon" property="icon"/>
            <result column="m1url" property="url"/>
            <result column="m1parentid" property="parentid"/>
        </collection>
    </resultMap>
    <select id="queryAll" resultMap="menuResultMap">
        select m.id mid,m.name mname,m.icon micon,m.url murl,m.parentid mparentid,
               m1.id m1id,m1.name m1name,m1.icon m1icon,m1.url m1url,m1.parentid m1parentid
        from t_menu m
        left join t_menu m1
        on m.id = m1.parentid
        where m.parentid is null
    </select>
</mapper>
