<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzr.dao.UserDAO">
    <update id="update" parameterType="com.xzr.entity.User">
        update t_user set status=#{status} where id=#{id}
    </update>
    <select id="queryAll" resultType="com.xzr.entity.User">
        select * from t_user
    </select>
    <resultMap id="userResultMap" type="com.xzr.entity.User">
        <id column="uid" property="id"/>
        <result column="password" property="password"/>
        <result column="farmington" property="farmington"/>
        <result column="nickname" property="nickname"/>
        <result column="gender" property="gender"/>
        <result column="photo" property="photo"/>
        <result column="location" property="location"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="description" property="description"/>
        <result column="phone" property="phone"/>
        <result column="ustatus" property="status"/>
        <association property="guru" javaType="com.xzr.entity.Guru">
            <id column="gid" property="id"/>
            <result column="headpic" property="headpic"/>
            <result column="name" property="name"/>
            <result column="gstatus" property="status"/>
        </association>
    </resultMap>
    <select id="queryByPage" resultMap="userResultMap">
        select u.id uid,u.password,u.farmington,u.nickname,u.gender,u.photo,u.location,u.province,u.city,u.description,u.phone,u.status ustatus,
               g.id gid,g.headpic,g.name,g.status gstatus
        from t_user u
        left join t_guru g
        on u.guruid = g.id
        limit ${pageNow},${pageNum}
    </select>

    <select id="queryByProvince" resultType="com.xzr.entity.Province">
        select COUNT(*) as value,province as name from t_user GROUP BY province
    </select>

    <select id="queryByUserNum" resultType="Integer" parameterType="Integer">
        select count(*) from t_user where TO_DAYS(now())-TO_DAYS(creattime) &lt; ${num}
    </select>
</mapper>
